{% extends 'base.html' %}
{% load static %}



{% block body %}

			
	<div class="hero hero-slider">
		<ul class="slides">
			<li data-bg-image= "{% static 'site_static/images/slider-3.jpg' %}">
				<div class="container">
					<h3 class="slider-subtitle">Your header goes here</h3>
					<h2 class="slider-title">Professional</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa molestiae necessitatibus possimus ducimus facere, error, nostrum. Quos sapiente ducimus maxime odio alias dolor consequuntur, maiores commodi exercitationem veniam. Id, ex?</p>
					
				</div>
			</li>
			<li data-bg-image="{% static 'site_static/images/slider-2.jpg' %}">
				<div class="container">
					<h3 class="slider-subtitle">Your header goes here</h3>
					<h2 class="slider-title">Professional</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In maiores illo eligendi obcaecati reiciendis, vel perspiciatis aliquid esse architecto deleniti asperiores, laboriosam nemo rerum! Ipsam numquam delectus minus iure sit!</p>
					
				</div>
			</li>
			<li data-bg-image="{% static 'site_static/images/slider-3.jpg' %}">
				<div class="container">
					<h3 class="slider-subtitle">Your header goes here</h3>
					<h2 class="slider-title">Professional</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam iure, alias error suscipit porro quidem minus, autem repellendus rerum labore corrupti! Quia quas, architecto, quis non pariatur quisquam nisi magnam.</p>
					
				</div>
			</li>
		</ul>
	</div>

	<main class="main-content">
		<div class="fullwidth-block latest-news-section">
			<div class="container">

			<div class="fullwidth-block features-section">
				<div class="container">
					<h2 class="section-title">Nuestros Servicios</h2>
					<div class="row">
						<div class="col-md-3">
							<div class="feature">
								<img src="{% static 'site_static/images/icon-1.png' %}" class="feature-image">
								<h3 class="feature-title">Asesoria</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolor perferendis blanditiis voluptate maiores </p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="feature">
								<img src="{% static 'site_static/images/icon-2.png' %}" class="feature-image">
								<h3 class="feature-title">Peinados</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, minus, totam. Officia ea accusamus quis tenetur quas </p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="feature">
								<img src="{% static 'site_static/images/icon-3.png' %}" class="feature-image">
								<h3 class="feature-title">Peluqueria</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, omnis cum, quo dolorem molestias asperiores doloremque dolorum</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="feature">
								<img src="{% static 'site_static/images/icon-4.png' %}" class="feature-image">
								<h3 class="feature-title">Make Up</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, facere numquam porro amet reiciendis maiores odio velit</p>
							</div>
						</div>
					</div> <!-- .row -->
				</div> <!-- .container -->
			</div> <!-- .fullwidth-block.features-section -->


			<div class="fullwidth-block information-section">
				<div class="container">
					<h2 class="section-title">Sobre Nosotros</h2>
					<div class="row">
						<div class="col-md-4">
							<figure><img src="{% static 'site_static/images/slider-2.jpg' %}" ></figure>
						</div>
						<div class="col-md-4">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque omnis minima accusamus nihil eligendi quas cumque rerum odit quo architecto repudiandae adipisci repellendus velit nostrum sed quisquam doloribus, consequatur sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque omnis minima accusamus nihil eligendi quas cumque rerum odit quo architecto repudiandae adipisci repellendus velit nostrum sed quisquam doloribus, consequatur sint.</p>
						</div>
						<div class="col-md-4">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium odit, blanditiis aliquam officia soluta modi amet ex nihil nulla minima. Nam earum est magnam tempore corrupti quos consequatur, numquam voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque omnis minima accusamus nihil eligendi quas cumque rerum odit quo architecto repudiandae adipisci repellendus velit nostrum sed quisquam doloribus, consequatur sint.</p>
						</div>
					</div>
				</div>
			</div> <!-- .fullwidth-block.information-section -->
		</div>

	</main>
{% endblock body %}
			
