{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}
	<div id="divReservas"> 
		<h1>BeautyCare</h1>
		<div class="bg-agile">
			<div class="book-appointment">
				<h2>Reserva tu hora con nosotros</h2>
			
				<form action="" method="POST" class="form">
					{% csrf_token %}
					{% bootstrap_form form %}
					{% buttons %}
						<button type="submit" class="btn btn-primary">Reserva</button>
					{% endbuttons %}
				</form>
			</div>
		</div>
	</div>
{% endblock body %}
