{% extends 'base.html' %}


{% block body %}

<main class="main-content">
    <div class="page">
        <div class="container">
                <h2 class="section-title">Conoce nuestros trabajos</h2>
            <div class="row">
                {% for galeria in lista_galeria %}
                    {% if lista_galeria.category == category %}
                    <div>
                            <div class="gallery-item filterable-item">
                                    <a href="{{galeria.imagen.url}}">
                                        <figure class="featured-image">
                                            <img src="{{galeria.imagen.url}}" alt="">
                                            <figcaption>
                                                <h2 class="gallery-title">{{galeria.nombre}}</h2>
                                                <p>{{galeria.descripcion}}</p>
                                            </figcaption>
                                        </figure>
                                    </a>
                             </div>
                    </div>
                    {% endif %}
                {% endfor %} 
    



            </div>

        </div>
    </div>
</main>


{% endblock body %}